body {
    background-color: cadetblue;

    .flex-container {
        display: flex;
        background-color: azure;
        justify-content: center;
        flex-direction: row;
        width: 50%;
        margin-left: auto;
        margin-right: auto;

    
    }

    .flex-container > div {
    
        font-size: 20px;
        text-align: center;
        padding: 20px;
        text-align: center;
        
    }
}
